<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">DamageTrack</h1>
                <p class="lead text-body-secondary">A reliable website that allows you to report infrastructure
                    damage and monitor the repair progress with ease.</p>
                <p>
                    {{#unless session}}
                    <a href="/sign" class="btn btn-primary my-2">Login</a>
                    {{/unless}}
                    {{#if session}}
                    <a href="/logout" class="btn btn-primary my-2">Logout</a>
                    {{/if}}
                </p>
            </div>
        </div>
    </section>

    <div class="album py-3 bg-body-tertiary">
        {{#if session}}
        <div class="btn-toolbar my-4 d-flex justify-content-center" role="toolbar">
            {{#if user}}
            <button type="button" id="my-reports" class="btn btn-primary flex-grow-0 active">My reports</button>
            <button type="button" id="all-reports" class="btn btn-primary flex-grow-0 inactive">All reports</button>
            {{/if}}
            {{#if all}}
            <button type="button" id="my-reports" class="btn btn-primary flex-grow-0 inactive">My reports</button>
            <button type="button" id="all-reports" class="btn btn-primary flex-grow-0 active">All reports</button>
            {{/if}}
        </div>

        <div class="row mb-5 filters">
            <div class="col-md-4 offset-md-2 col-12 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchText" placeholder="Location..." aria-label="Search location"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="search">Search</button>
                </div>
            </div>

            <div class="col-md-2 col-6 offset-md-2 mb-3">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="urgency-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Urgency
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="urgency-dropdown">
                        <li><a class="dropdown-item {{#unless urgency}}active{{/unless}}" href="/?">All</a></li>

                        <li><a class="dropdown-item {{#ifEquals urgency " High"}}active{{/ifEquals}}"
                                href="/?urgency=High">High</a></li>
                        <li><a class="dropdown-item {{#ifEquals urgency " Medium"}}active{{/ifEquals}}"
                                href="/?urgency=Medium">Medium</a></li>
                        <li><a class="dropdown-item {{#ifEquals urgency " Low"}}active{{/ifEquals}}"
                                href="/?urgency=Low">Low</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-2 col-6 mb-3">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="status-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="status-dropdown">
                        <li><a class="dropdown-item {{#unless status}}active{{/unless}}" href="/?">All</a></li>
                        <li><a class="dropdown-item {{#ifEquals status " Pending"}}active{{/ifEquals}}"
                                href="/?status=Pending">Pending</a></li>
                        <li><a class="dropdown-item {{#ifEquals status " Ongoing"}}active{{/ifEquals}}"
                                href="/?status=Ongoing">Ongoing</a></li>
                        <li><a class="dropdown-item {{#ifEquals status " Finished"}}active{{/ifEquals}}"
                                href="/?status=Finished">Finished</a></li>
                    </ul>
                </div>
            </div>

        </div>
        {{/if}}
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{#unless session}}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/damage3.png" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Fire Damage</h5>
                            <p class="card-text">Please help!!</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: High</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: Patras</li>
                                <li class="list-group-item">Street: Ermou</li>
                                <li class="list-group-item">Number: 31</li>
                                <li class="list-group-item">ZipCode: 261 24</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div>
                                    <small class="position-relative">
                                        People are interested
                                        <span
                                            class="position-absolute top-0 start-0 number-position badge rounded-pill bg-info">
                                            99+
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </small>
                                </div>
                                <small class="text-body-secondary">Today</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/damage1.png" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Water Damage</h5>
                            <p class="card-text">Please help!!</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: Medium</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: Patras</li>
                                <li class="list-group-item">Street: Ag. Sofias</li>
                                <li class="list-group-item">Number: 19</li>
                                <li class="list-group-item">ZipCode: 261 34</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div>
                                    <small class="position-relative">
                                        People are interested
                                        <span
                                            class="position-absolute top-0 start-0 number-position badge rounded-pill bg-info">
                                            99+
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </small>
                                </div>
                                <small class="text-body-secondary">Today</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/damage2.png" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Mold Damage</h5>
                            <p class="card-text">Please help!!</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: Low</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: Patras</li>
                                <li class="list-group-item">Street: Kanakari</li>
                                <li class="list-group-item">Number: 21</li>
                                <li class="list-group-item">ZipCode: 261 13</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div>
                                    <small class="position-relative">
                                        People are interested
                                        <span
                                            class="position-absolute top-0 start-0 number-position badge rounded-pill bg-info">
                                            99+
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </small>
                                </div>
                                <small class="text-body-secondary">Today</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{/unless}}
                {{#if session}}
                {{#each reports}}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="images/{{image}}" alt="" class="card-img-top" style="height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">{{category.name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Urgency level: {{urgency}}</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">City: {{location.city}}</li>
                                <li class="list-group-item">Street: {{location.streetName}}</li>
                                <li class="list-group-item">Number: {{location.streetNumber}}</li>
                                <li class="list-group-item">ZipCode: {{location.zipCode}}</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div>
                                    <small class="position-relative">
                                        People are interested
                                        <span
                                            class="position-absolute top-0 start-0 number-position badge rounded-pill bg-info">
                                            {{#if likes}}
                                            {{likes}}+
                                            {{/if}}
                                            {{#unless likes}}
                                            0
                                            {{/unless}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </small>
                                </div>
                                <small class="text-body-secondary">{{moment createdAt}}</small>
                            </div>
                            <p class="card-subtitle mt-2 text-body-secondary">Status: {{status}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{#if session}}
    <nav>
        <ul class="pagination justify-content-center mt-5">
            {{#gt currentPage 1}}
            <li class="page-item">
                <a class="page-link" id="previous" href="?page={{subtract currentPage 1}}&limit={{limit}}">Previous</a>
            </li>
            {{/gt}}

            {{#range 1 totalPages}}
            <li class="page-item {{#ifEquals this currentPage}}active{{/ifEquals}}">
                <a class="page-link pages" href="?page={{this}}&limit={{limit}}">{{this}}</a>
            </li>
            {{/range}}

            {{#lt currentPage totalPages}}
            <li class="page-item">
                <a class="page-link" id="next" href="?page={{add currentPage 1}}&limit={{limit}}">Next</a>
            </li>
            {{/lt}}
        </ul>
    </nav>
    {{/if}}

</main>